*~
*__pycache__*
*_ext*
*.bag
*.csv
*.cu.o
*.DS_Store
*.gif
*.ipynb_checkpoints
*.pkl
*.png
*.pth
*.pyc
*.so
*.tfevents*
*.yml

.idea/
.vscode/
*.egg-info/
build/
ckpt/
ckpts/
dist/
devel/
experiments/
work_dirs/

data
logs
wandb
work_dirs
work_dirs_tmp
